
#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul, #navbar ul li{
    float: none;

}
navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
}
/* Showcase */
#showcase{
    height: 100%;

}
#showcase .showcase-content{
    padding-top: 70px;
    padding-bottom: 30px;
}

/* Home Info*/
#home-info .info-img{
    display:none;

}

#home-info .info-content{
    float: none;
    width: 100%;
    

}

/* p{
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 4;
    -ms-line-clamp: 4;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    overflow: hidden;
} */

/* Boxes */
.box{
    float: none;
    width: 100%;
}

/* About */

#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}
#about-info .info-right{
    margin-top: 30px;
}

.l-heading{
    text-align: center;
}

/* Contact */

#conatct-info .box{
    border-bottom: #444d44 dotted 1px;
}